.masonry {
  display: flex;
  gap: 1.6rem;
}
.overlayContainer {
  position: relative;
}
.masonry img {
  width: 100%;
  height: auto;
  margin: 0.6rem 0;
}

.overlay {
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}
.overlay:hover {
  background: none;
}
